body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Bebas Neue', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bolder;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 100px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:"Comic Sans MS", "cursive","sans-serif";
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
