<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>

}
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">Notes</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:varshanjohn@gmail.com">email</a></li>

							<li><a href="https://github.com/varshanjohn">github.com/varshanjohn</a></li>
							<a href="#">Scroll to Top</a>

				</ul>
			</footer>
		</body>
	</html>
